:root {
	--bg-1: #ffffff;
	--surface: #f5f5f7;
	--text: #141414;
	--accent: #6c46ff;
}

/* Dark mode override */
@media (prefers-color-scheme: dark) {
	:root {
		--bg-1: #121212;
		--surface: #2b2b2b;
		--text: #f5f5f0;
		/* --accent stays the same */
	}
}
